# Top-level node_modules and logs (in case used globally)
node_modules/
*.log
*.local

# Ignore node_modules and build artifacts in any subdirectory
**/node_modules/
**/dist/
**/dist-ssr/
**/.DS_Store

# Vite and Next.js specific
**/.next/
**/.vercel/

# IDE/editor files (global)
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore top-level text files if needed
*.txt
